 #top-nav {
     font-size: 10px;
     font-weight: 300;
 }
 
 .banner {
     font-size: 13px;
     color: #000000;
     background-color: #f9f9f9;
 }

 .nav-link {
    font-size: 11px;
    color: #666666;
    padding-bottom: 0px;
    margin-bottom: 0px;
}



.nav-link:hover {
    color: #DD1923;
}

.position-static:hover {
    color: #DD1923;
    border-bottom: solid;
    border-color: #DD1923;
    border-width: 3px;
} 

.dropdown-menu .row {
    margin: 0 2px;
}

#main-nav ul {
    padding-left: 0px;
}

#main-nav ul li {
    list-style: none;
}

#main-nav .dropdown-menu ul li a {
    font-size: 15px;
    color: #4a4a4a;
    text-decoration: none;
}


#main-nav ul li h1 {
    color: #000000;
    font-size: 15px;
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: solid;
    border-color: #121212;
}

.dropdown-menu {
    outline: none;
    border: none;
}


.dropdown:hover .dropdown-menu {
    display: block;
  }

  nav ul li a {
      font-size: 12px;
  }
  
.slider-card-body {
    position: absolute;
    bottom: 10px;
} 

.whats-new {
    position: relative;
}

.whats-new::after {
    content: "";
    background-color: #d52b1e;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 0px;
}

.new-guitar {
    position: relative;
}

.new-guitar::after {
    height: 20px;
    width: 50px;
    font-size: 12px;
    font-weight: bold;
    background-color: #DD1923;
    color: white;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: 'NEW';
    position: absolute; 
}

.fender-feed {
    transition: transform(0.5s);

}

.fender-feed:hover {
    transform: translateY(-5px);
}

#fender-feed-one {
    position: relative;
}



#fender-feed-one::after {
    z-index: -1;
    height: 140px;
    width: 500px;
    background-color: #d52b1e;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 32px;
    padding-right: 100px;
    top: -100px;
    left: -10px;
    position: absolute;
    content: "FENDER FEED";
}

#fender-feed-one::before {
    background: white;
    font-size: 27px;
    font-weight: bold;
    z-index: 1;
    height: 120px;
    width: 430px;
    padding-top: 30px;
    content: "What is the Difference Between Major and Minor Chords?";
    text-align: left;
    position: absolute;
    bottom: -70px;
}

#fender-feed-two {
    position: relative;
}

#fender-feed-two::before {
    background: white;
    font-size: 27px;
    font-weight: bold;
    z-index: 1;
    height: 120px;
    width: 430px;
    padding-top: 30px;
    content: "A Guide to 3 common Guitar Chord Progressions for Beginners";
    text-align: left;
    position: absolute;
    bottom: -70px;
}

#feed-sec-row-one {
    position: relative;
}

#feed-sec-row-one::before {
    background: white;
    font-size: 27px;
    font-weight: bold;
    z-index: 1;
    height: 120px;
    width: 430px;
    padding-top: 30px;
    content: "Learn to play R&B / Soul Songs with Fender Play";
    text-align: left;
    position: absolute;
    bottom: -70px;
}

#feed-sec-row-two {
    position: relative;
}

#feed-sec-row-two::before {
    background: white;
    font-size: 27px;
    font-weight: bold;
    z-index: 1;
    height: 120px;
    width: 430px;
    padding-top: 30px;
    content: "Tips for learning How to Play Rhythm Guitar";
    text-align: left;
    position: absolute;
    bottom: -70px;
}

#accessories {
    margin-top: 100px;
}

#footer {
    color: white;
    padding: 0 90px;
    background-color: #121212;
}

#signup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70px;
    background: #121212;
    /* border: solid; */
}

#email-input {
    background-color: #121212;
    color: #CCCCCC;
    border: none;
    outline: none;
    list-style: none;
}

#footer-btn {
    background-color: #d52b1e;
    color: white;
    border: none;
    height: 40px;
    width: 125px;
}



#footer .row p {
    color: #CCCCCC;
    font-size: 20px;
}

#footer ul li {
    list-style: none;
    padding-top: 17px;
}

#footer ul li a {
    color: #CCCCCC;
    font-size: 14px;
    text-decoration: none;
}



.footer-col h3 {
    font-size: 14px;
    color: #F9F9F9;
    padding-top: 30px;
}


